<!-- FAQ HTML Start -->
<div class="page-content">
  <div class="container">
    <div class="op_blurb">
      {% if section.settings.FAQs_heading != blank %}
        <p>
          {{ section.settings.FAQs_heading }}
        </p>
      {% endif %}
    </div>

    <div class="op_blurbs">
      {% if section.settings.faq_sub_heading != blank %}
        <p>
          <strong>{{ section.settings.faq_sub_heading }}</strong>
        </p>
      {% endif %}
    </div>

    {% for block in section.blocks %}
      {% if block.settings.faq_question != blank %}
        <div class="accordion_hld">
          <div class="accordion-row">
            <div class="accordion-head">{{ block.settings.faq_question }}</div>
            <div class="accordion-body">
              <p>{{ block.settings.faq_answer }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- FAQ HTML end -->

<!-- FAQ Schema Start -->
{% schema %}
{
  "name": "FAQs",
  "class": "faq-page-discussion",
  "tag": "section",
  "settings": [
    {
      "type": "html",
      "id": "FAQs_heading",
      "label": "Enter FAQ's Heading"
    },
    {
      "type": "text",
      "id": "faq_sub_heading",
      "label": "FAQs Sub Heading"
    }
  ],
  "blocks": [
    {
      "type": "FAQs",
      "name":"FAQs",
      "settings": [
        {
          "type": "html",
          "id": "faq_question",
          "label": "Enter Question"
        },
        {
          "type": "html",
          "id": "faq_answer",
          "label": "Enter Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Add FAQ's"
    }
  ]
}
{% endschema %}

<!-- FAQ Schema End -->

<!-- FAQ CSS Start -->
<style>
        .accordion-body > ul>li::marker {
          color: #c8a357;
        }
        .accordion-body > ul, li {
           border: 1px solid #c8a357;
          font-size:17.5px;
          color: #fff;
      }
          .accordion-body > table > tbody > tr > th {
            border: 1px solid #c8a357;
            color:#c8a357;
            font-size:16px;    overflow-wrap: break-word;

        }
         .accordion-body > table > tbody > tr >td {
            border: 1px solid #c8a357;
           padding: 3px;
          text-align: center;font-size:16px;
        }
        .accordion-body > table > caption {
              border: 1px solid #c8a357;
              color: #c8a357;
          font-size:16px;
          }
           .accordion-body > table {
      color: white;
      border: 1px solid #c8a357;
      font-size: 16px;
      width: 100%;
  }
               .accArrow::after{
              opacity:0;
               }
               .accordion-row {
                   margin: 0 0 15px 0;
                   background: #0e1125;
                   border: #c8a357 1px solid;

              }
               .accordion-body > p {
                   color: #fff;
                 font-size:16px;
              }
                 .accordion-body{
                      padding: 10px 20px; display:none;
                 }
               .accordion-head {
                   position: relative;
                   font-size: 18px;
                   color: #fff;
                   font-weight: 500;
                   padding: 12px 40px 12px 20px;
                   background: #0e1125;
                   border-bottom: transparent 1px solid;
                   cursor: pointer;
                 border-bottom: #c8a357 1px solid;
              }
               .op_blurbs > p {
                   font-size: 18px;
                   color: #c8a357;
                   text-transform:uppercase
              }
               .container {
                   max-width: 1200px;
                   margin: auto;
                   width: 100%;padding: 0 3%;
              }
               .op_blurb > p{
                   color: #fff;
                   font-size: 16px;
                   line-height: 24px;
              }
               .page-content{
                background: url('https://rajnigandha.com/frontendassets/images/bg-pattern.jpg') repeat left top;
                width: 100%;
                height: auto;
                margin: -18px 0;
                padding: 18px 0;
              }
              .accordion-head::after {
                content: '';
                display: block;
                background: url(https://rajnigandha.com/frontendassets/images/nav-arrow-down.png) no-repeat center center;
                position: absolute;
                right: 20px;
                top: 16px;
                width: 16px;
                height: 12px;
              }
             .arrowAccordion::after{
              opacity:0;
              }
</style>
<!-- FAQ CSS End -->
