{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

<div class="outer">
  <div class="inner"><img src="" alt=""></div>
  <div class="inner"><img src="" alt=""></div>
  <div class="inner"><img src="" alt=""></div>
</div>

<style>
    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .outer{
    display:flex;
    max-width:1200px;
    justify-content:center;
    margin:0 auto;
  }
  .inner{
    width:33.33%;
    height:200px;
    border:2px solid red;
  }
</style>
