<h1 id="x">{{ section.settings['txt-05'] }}</h1>
{% schema %}
{
  "name": "heading",
  "settings": [
    {
      "type": "text",
      "id": "txt-05",
      "label": "Add Heading"
    }
  ],
  "presets": [
    {
      "name": "Add Heading"
    }
  ]
}
{% endschema %}
<style>
  #x{
    text-align:center;
  }
</style>
